* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* tu ngoai vao rong
  tu tren xuong duoi
  tu tong quan den chi tiet
  
  */
  /*  1 .vitri
      2.kich thuoc
      3mau sac
      4.kieu dang*/
  
  .clear {
    clear: both;
  }
  
  .text-white {
    color: #fff !important;
  }
  
  .mt-8 {
    margin-top: 8px !important;
  }
  
  .mt-16 {
    margin-top: 16px !important;
  }
  
  .text-center {
    text-align: center;
  }
  
  .pull-right {
    float: right !important;
  }
  
  .btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
  
    &:hover {
      color: #000;
      background-color: #ccc;
      cursor: pointer;
    }
  }
  
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  
  .col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .col-third {
    width: 33.3333%;
  }
  
  .col-half {
    width: 50%;
  }
  
  .col-full {
    width: 100%;
  }
  
  /*main*/
  
  #main {}
  
  #header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  #nav {
    display: inline-block;
    list-style-type: none;
  }
  
  .subnav {
    list-style-type: none;
  }
  
  #nav {
     li {
      display: inline-block;
    }
  
    li {
      position: relative;
      &:hover{
        
            color: black;
            background-color: #ccc;
            display: inline-block;
      }
    }
  
     
  
    .subnav {
      li:hover a {
        color: black;
        background-color: #ccc;
        display: inline-block;
      }
  
      display: none;
      position: absolute;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
      a {
        color: black;
        padding: 0 12px;
      }
    }
  
    > li > a {
      color: aliceblue;
      text-transform: uppercase;
    }
  
    li {
      a {
        text-decoration: none;
        line-height: 46px;
        padding: 0 24px;
        display: block;
      }
  
      &:hover .subnav {
        display: block;
      }
    }
  
    .nav-muiten {
      font-size: 14px;
    }
  }
  
  #header {
    .search-btn {
      float: right;
      padding: 0 22px;
  
      &:hover {
        background-color: #f44336;
        cursor: pointer;
      }
    }
  
    .search-icon {
      color: #fff;
      font-size: 20px;
      line-height: 46px;
    }
  }
  
  #slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('./imgg/anh\ 1.jpeg') top (center / cover) no-repeat;
  
    .text-content {
      position: absolute;
      color: #fff;
      bottom: 48px;
      width: 100%;
      text-align: center;
    }
  
    .text-heading {
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 25px;
    }
  
    .text-destcription2 {
      font-size: 15px;
    }
  }
  
  #content {
    .content-section {
      width: 800px;
      padding: 64px 0 112px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .section-heading {
      font-size: 30px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 3px;
    }
  
    .section-sud-heading {
      font-size: 15px;
      text-align: center;
      margin-top: 25px;
      font-style: italic;
      opacity: 0.6;
    }
  
    .about-text {
      margin-top: 25px;
      font-size: 15px;
      text-align: justify;
      line-height: 1.6;
    }
  
    .member-list {
      margin-top: 48px;
    }
  
    .member-name {
      font-size: 15px;
    }
  
    .member-img {
      margin-top: 15px;
      width: 154px;
      border-radius: 4px;
    }
  }
  
  .tour-section {
    background-color: black;
  }
  
  .tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
  
    li {
      font-size: 15px;
      padding: 11px 16px;
      border-bottom: 1px solid #ddd;
    }
  
    .sold-out {
      background-color: #f44336;
      color: #fff;
      padding: 3px 4px;
      margin-left: 16px;
    }
  
    .quantity {
      float: right;
      width: 24px;
      height: 24px;
      background-color: black;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 24px;
      margin-top: -3;
    }
  }
  
  /*place*/
  
  .places-list {
    margin-top: 32px;
  }
  
  .place-img {
    width: 100%;
    display: block;
  
    &:hover {
      opacity: 0.6;
    }
  }
  
  .place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
  }
  
  .place-heading {
    font-size: 15px;
  }
  
  .place-time {
    margin-top: 15px;
    color: #757575;
  }
  
  .place-desc {
    margin-top: 15px;
    line-height: 1.4;
  }
  
  .contact-content {
    margin-top: 48px;
    display: block;
  }
  
  .contact-font {
    font-size: 18px;
    line-height: 1.5;
  
    i[class*="ti-"] {
      width: 30px;
      display: inline-block;
    }
  }
  
  .contact-form {
    font-size: 15px;
  
    .form-control {
      padding: 10px;
      border: 1px solid #ccc;
      width: 100%;
    }
  }
  
  .map-section img {
    width: 100%;
  }
  
  #footer {}